<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="database" type="ConsoleReadConfig.SectionHandler,ConsoleReadConfig"/>
  </configSections>

  <database>
    <settings>
      <setting name="aa" user="11111" password="test1"/>
      <setting name="bb" user="22222" password="test2"/>
      <setting name="cc" user="3333" password="test3"/>
      <setting name="dd" user="4444" password="test4"/>
    </settings>
  </database>
</configuration>