<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MySection3" type="configSections.MySection3,configSections"/>
  </configSections>
  <MySection3>
    <add key="aa" value="11111"></add>
    <add key="bb" value="22222"></add>
    <add key="cc" value="33333"></add>
  </MySection3>

</configuration>