<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
      <typeAlias alias="IProductCategoryRepository" type="Uni2uni.ERP.IInfrastructure.IProductCategoryRepository, Uni2uni.ERP.IInfrastructure" />
      <typeAlias alias="ProductCategoryRepository" type="Uni2uni.ERP.Infrastructure.ProductCategoryRepository, Uni2uni.ERP.Infrastructure" />

    </typeAliases>


    <containers>
      <container name="defaultContainer">
        <register type="IProductCategoryRepository" name="defaultRegister" mapTo="ProductCategoryRepository" />
      </container>
    </containers>
  </unity>
  
</configuration>