<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
      <typeAlias alias="IProductCategoryService" type="Uni2uni.ERP.IService.IProductCategoryService,Uni2uni.ERP.IService" />
      <typeAlias alias="ProductCategoryService" type="Uni2uni.ERP.Service.ProductCategoryService, Uni2uni.ERP.Service" />

    </typeAliases>


    <containers>
      <container name="defaultContainer">
        <register type="IProductCategoryService" name="defaultRegister" mapTo="ProductCategoryService" />
      </container>
    </containers>
  </unity>

</configuration>