<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IPerson" type="IDal.IPerson, IDal" />
    <alias alias="Person" type="Dal.Person, Dal" />
    <alias alias="User" type="Dal.User, Dal" />
    
    <container name="containerOne">
      <register type="IPerson" name="PersonClass" mapTo="Person" />
    </container>
  </unity>
  
  
</configuration>