<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="Uni2uni_GoodsInfo"  connectionString="server=192.168.2.186;database=Uni2uni_GoodsInfo;uid=sa;pwd=uni2uni.com"/>
    <add name="Uni2uni_cloudshop" connectionString="server=192.168.2.186;database=Uni2uni_cloudshop;uid=sa;pwd=uni2uni.com"/>
  <add name="Uni2uni_GoodsInfo1" connectionString="server=117.79.235.215,9638;database=uni2uni_goodsinfo1010;uid=temp_sql;pwd=uni2uni09"/>
  </connectionStrings>
  
</configuration>
