@model yun.shop.domain.Category

@{
    ViewBag.Title = "修改类别";
}

<table>
    <tr>
        <td>分类名称：</td>
        <td></td>
    </tr>
   
    
    <tr>
        <td></td>
        <td></td>
    </tr>

</table>