@model IList<yun.shop.domain.Category>

@{
    ViewBag.Title = "商品类别列表";
}



<table>
    <tr>
        <td>ID</td>
        <td>类别</td>
        <td>子类</td>
        <td>操作</td>
    </tr>
   @foreach (var itm in Model)
   { 
    <tr>
        <td>@itm.CategoryID</td>
        <td>@itm.CategoryName</td>
        <td>@itm.Children.Count()</td>
        <td>
            @Html.ActionLink("修改", "Edit",new { id=itm.CategoryID}) |
            <a href="">删除</a>
        </td>
    </tr>
   }
  
      
</table>





