<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <typeAliases>
      <!-- Interface -->
      <typeAlias alias="IPerson" type="IInterface.IPerson, IInterface" />
     
      <!--Class-->
      <!--<typeAlias alias="Member" type="Service.Member, Service" />-->
      <!--<typeAlias alias="User" type="Service.User, Service" />-->
    </typeAliases>
    
    
    <containers>
      <container name="defaultContainer">        
        <!--<register name="defaultRegister" type="IPerson" mapTo="Member">
          <lifetime type="singleton"></lifetime>
        </register>-->
       
      </container>
    </containers>
  </unity>
</configuration>
